.active{
    color:rgb(43, 187, 173);
    font-weight: bold;
}
label{
    z-index:-1;
  }
.verify{
    z-index:1001;
    top:20%;
    left:20%;
    position: fixed;
    width: 100%;
    margin:0 auto;
}
.sign_msg{
    position:fixed;
    top:15%;
    /* left:20%; */
    height:100vh;
    width:100%;
    text-align: center;
    font-weight: bold;
    background: white;
    box-shadow: 2px 3px silver;
}
.top{
    display: flex; padding:1rem;width:20%;margin:0 auto;
}
.wrap1{
  cursor: pointer;

  position:absolute;
  top:40%;
  left:18%;
  z-index:999999999999999;
  animation: wrap 0.8s ease;
}
@keyframes wrap {
  0%{
    top:10%;
  }
  100%{
    /* top:40%; */
  }
}
.wait1{
  /*   display:table; */
    position:relative;
     width:80%;
    height:230px;
  animation: wrap 0.7s ease;

  /*   text-align:center; */
    background:linear-gradient(rgba(238,130,238,0.4), grey);
    background: linear-gradient(white,teal);
    /* background:linear-gradient((green,0.4), grey); */

    border-radius:10%;  
      word-break: keep-all;
  }

@media screen and (min-width:660px) {
    .card{
      width:60%;
      margin:0 auto;
    }
  }
  @media screen and (max-width:660px) {
      .top{
        /* display: flex; padding:1rem; */
        margin:0;
      }
      .verify{
        left:1%;
      }
  }
